@page
@model CRUDForProducts.Pages.Product.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ProductCollections</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductCollections.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductCollections.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductCollections.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductCollections.Category)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductCollections.Quantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductCollections.Quantity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductCollections.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductCollections.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductCollections.CreatedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductCollections.CreatedDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.ProductCollections?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
